Options -MultiViews
RewriteEngine On

# Allow _next folder
RewriteCond %{REQUEST_URI} ^/_next/
RewriteRule ^ - [L]

# Route all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]
